@model ForumCategoryDto

@inject IForumInternalRoutingUtility forumInternalRoutingUtility
@inject ITimestampMappingUtility timestampMappingUtility

@{
    forumInternalRoutingUtility.InternalRoutingVisibility = true;
    forumInternalRoutingUtility.RoutingElements = new Dictionary<string, string>() {
        [Model.Section.Name] = "/Sections/" + Model.Section.Id,
        [Model.Name] = "/Categories/" + Model.Id
    };

    var threadsLatestReplies = Model.Threads.ToDictionary(thread => thread.Id, thread => {
        var latestReplyCreated = thread.Replies.OrderByDescending(reply => reply.CreatedOn).FirstOrDefault();
        var latestReplyUpdated = thread.Replies.OrderByDescending(reply => reply.ModifiedOn).FirstOrDefault();

        var timestamp = "N / A";
        var username = "N / A";
        var profilePicture = "/images/icons/default-user-thumbnail.png";

        if(latestReplyCreated == null && latestReplyUpdated != null) 
        {
            timestamp = timestampMappingUtility.MapTimestamp(latestReplyUpdated.ModifiedOn);
            username = latestReplyUpdated.ModifiedBy.UserName;
            // TODO: Implement me ...  profilePicture = latestReplyUpdated.ModifiedBy.ProfilePicture;
        }
        else if (latestReplyCreated != null && latestReplyUpdated == null) 
        {
            timestamp = timestampMappingUtility.MapTimestamp(latestReplyCreated.CreatedOn);
            username = latestReplyCreated.CreatedBy.UserName;
            // TODO: Implement me ...  profilePicture = latestReplyUpdated.CreatedBy.ProfilePicture;
        }
        else if(latestReplyCreated != null && latestReplyUpdated != null)
        {
            timestamp = timestampMappingUtility.MapTimestamp(
                latestReplyCreated.CreatedOn > latestReplyUpdated.ModifiedOn 
                ? latestReplyCreated.CreatedOn 
                : latestReplyUpdated.ModifiedOn);
            username = latestReplyCreated.CreatedOn > latestReplyUpdated.ModifiedOn
                ? latestReplyCreated.CreatedBy.UserName
                : latestReplyUpdated.ModifiedBy.UserName;
            // TODO: Implement me ...  profilePicture = latestReplyUpdated.CreatedBy.ProfilePicture;
        }

        return new 
        { 
            Timestamp = timestamp,
            Username = username,
            ProfilePicture = profilePicture
        };
    });
}

<main class="forum-category-content">
    <div class="forum-category-cover-image">
        <img src="@Model.CoverImage.FileUrl" alt="..." />
    </div>
    <header>
        <div class="forum-category-data">
            <h1 class="forum-category-name">@Model.Name</h1>
            <p class="forum-category-description">
                @Model.Description
            </p>
        </div>
        <div class="forum-category-actions">
            <a href="/Threads/Create?categoryId=@Model.Id" class="forum-category-action-button">Post Thread</a>
        </div>
    </header>
    <hr class="forum-category-content-separator" />
    <main>
        <input id="forum-category-content-threads-search" type="text" placeholder="Search threads..." name="query" />
        <div class="forum-category-content-threads">
            @foreach(var thread in Model.Threads) 
            {
                <div class="forum-category-content-thread-row">
                    <img class="forum-category-thread-thumbnail" src="~/images/icons/default-user-thumbnail.png" alt="...">
                    <div class="forum-category-thread-primary-info">
                        <h1 class="forum-category-thread-title"><a href="/Threads/@thread.Id">@thread.Title</a></h1>
                        <p class="forum-category-thread-timestamp">Posted by @thread.CreatedBy?.UserName, @timestampMappingUtility.MapTimestamp(thread.CreatedOn).</p>
                    </div>
                    <div class="forum-category-thread-secondary-info">
                        <div class="forum-category-thread-replies">
                            <div><span class="forum-category-thread-replies-label">Replies</span>:</div>
                            <span class="forum-category-thread-replies-value">@thread.Replies.Count</span>
                        </div>
                        <div class="forum-category-thread-views">
                            <span class="forum-category-thread-views-label">Views:</span>
                            <span class="forum-category-thread-views-value">@thread.Views</span>
                        </div>
                    </div>
                    <div class="forum-category-thread-activity-info">
                        <div class="forum-category-thread-activity-timestamp">
                            <span class="forum-category-thread-activity-timestamp-value">@threadsLatestReplies[thread.Id].Timestamp</span>
                            <span class="forum-category-thread-activity-tomestamp-user">@threadsLatestReplies[thread.Id].Username</span>
                        </div>
                        <img class="forum-category-activity-thumbnail" src="@threadsLatestReplies[thread.Id].ProfilePicture" alt="...">
                    </div>
                </div>
            }
        </div>
    </main>
</main>