@model HomeViewModel

@inject IForumInternalRoutingUtility forumInternalRoutingUtility
@inject ITimestampMappingUtility timestampMappingUtility

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainLayout";
    forumInternalRoutingUtility.InternalRoutingVisibility = false;
}

<h1 class="forum-content-main-heading">Forums</h1>
@foreach(var forumSection in Model.Sections) 
{
    <section class="forum-content-section">
        <h1 class="forum-content-section-heading">@forumSection.Name</h1>
        <div class="forum-content-section-categories">
            @foreach(var forumCategory in forumSection.Categories) 
            {
                var latestThread = forumCategory.Threads.OrderByDescending(thread => thread.CreatedOn).FirstOrDefault();
                var latestThreadUrl = latestThread != null ? $"/Threads/{latestThread.Id}" : "#";
                var latestThreadTitle = latestThread != null ? latestThread.Title : "";
                var latestThreadCreator = latestThread != null ? latestThread.CreatedBy.UserName : null;
                var latestThreadCreatedOn = latestThread != null ? timestampMappingUtility.MapTimestamp(latestThread.CreatedOn) : null;
                var latestThreadMetadata = latestThread != null ? $"Posted by {latestThreadCreator} {latestThreadCreatedOn}" : "";

                <div class="forum-content-category">
                    <img class="forum-content-category-icon" src="@forumCategory.ThumbnailImageUrl" alt="..." />
                    <div class="forum-content-category-info">
                        <div class="forum-content-category-details">
                            <a class="forum-content-category-title" href="/Categories/@forumCategory.Id">@forumCategory.Name</a>
                            <span class="forum-content-category-description">@forumCategory.Description</span>
                        </div>
                        <div class="forum-content-category-latest-topic">
                            <a class="forum-content-category-latest-topic-title" href="@latestThreadUrl">@latestThreadTitle</a>
                            <span class="forum-content-category-latest-topic-details">@latestThreadMetadata</span>
                        </div>
                    </div>
                </div>
            }
    </section>
}